/* Universal Styles */

body {
  font-size: 14px;
  font-family: Verdana;
}

/* Header */

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 5rem;
  width: 1232px;
  margin-left: 32px;
  position: fixed;
  top: 0;
  background-color: #D2B48C;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid black 1px;
}

.logo {
  display: flex;
  width: 20rem;
  align-items: center;
}

.logo img {
  margin-left: 32px;
  padding-right: 15px;
  border-right: solid black 1px;
  color: MediumAquamarine;
}

.logo span {
  font-size: 14px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 32px;
}

header .nav {
  width: 250px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

header .nav a {
  color: black;
  text-decoration: none;
}

/* container */

.container {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Large-column */

.large-column {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  margin-top: 20px;
  margin-right: 32px;
  margin-left: 32px;
  border: solid blue 1px;
}

.main-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./resources/img-story-main.png);
  height: 300px;
}

.main-headline span {
  font-family: Georgia
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.second-story {
  width: 300px;
}

.second-story .image-item {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-image: url(./resources/img-story-2.png);
}

.second-story .image-item h2 {
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
}

.third-story {
  width: 300px;
  margin-left: 30px;
}

.third-story .image-item {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-image: url(./resources/img-story-3.png);
}

.third-story .image-item h2 {
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Second-column */

.second-column {
  width: 300px;
  margin-right: 32px;
}

.second-column .fbi-story h2 {
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  color: black;
}

.cat-story {
  margin-top: 30px;
}

.second-column .cat-story .image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-image: url(./resources/img-story-1.png)
}

.second-column .cat-story h2 {
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Third-column */

.third-column {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 32px;
}

.News-Bites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  margin-bottom: 20px;

}

.third-column .bites {
  width: 240px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: WhiteSmoke;
}

.bites span {
  border-bottom: solid black 1px;
  width: 220px;
  padding: 10px 5px;
  line-height: 1rem;
  color: dimgray;
}


/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1262px;
  margin-left: 32px;
  height: 300px;
  background-color: tan;
}

footer .first-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .title {
  margin-right: 10px;
  padding-right:10px;
  font-weight: bold;
  font-size: 1.0rem;
  line-height: 0rem;
  color: white;
  border-right: solid white 2px;
}


footer nav a {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}
